<head>
    <title>Anagramas</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
    <div>
        <input type="text" name="anagrama" id="anagrama" size:=40>
        <button id="findButton" onclick="escrita()">Encontrar Anagramas</button>
    </div>
    <div id="result"></div>

    <script src="./palavras.js"></script>
    <script src="./anagrams1.js"></script>
</body>
</html>